<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-icons-1.8.3/bootstrap-icons.css">
    <title>{{title}}</title>
    <style type="text/css">
    {% block style %}
@media print {
footer { page-break-after: always; }
.slide-nav { visibility: hidden; }
}

h1 {
  font-size: 36pt;
}

div.content {
  font-size: 24pt;
}

div.content-default {
}

div.content-title {
  margin-top: 10vh;
}

div.content-oneline {
  margin-top: 1em;
  font-size: 48pt;
}

@media screen {
div.slide {
  // background: url('static/openlogo-nd.svg');
  // background: linear-gradient(-100deg, #8EC7D2, #0D6986);
  // background: #8EC7D2;
}
.slide-nav { visibility: hidden; }
h1:hover .slide-nav { visibility: visible; }
footer:hover .slide-nav { visibility: visible; }
}

/* Bootstrap does not seem to have a good default for blockquote */
blockquote {
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
    font-style: italic;
    font-family: serif;
}
    {% endblock %}
    </style>
    {% for fname in extra_css %}
      <link rel="stylesheet" href="static/{{fname}}">
    {% endfor %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <script src="static/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
