{% extends "main.html" %}

{% block body %}
{% for slide in slides %}
<a name="slide{{loop.index}}"></a>
<div class="slide container-fluid vh-100 d-flex flex-column position-relative overflow-hidden">
  <h1 class="pt-4 ps-4 pb-2 mb-4 border-bottom border-3 border-danger">
    {{slide.title}}
    {% if loop.index > 1 %}
    <a class="btn btn-light position-absolute end-0 top-0 slide-nav" href="#slide{{loop.index - 1}}"><i class="bi-arrow-up"></i></a>
    {% endif %}
  </h1>

  <div class="content content-{{slide.style}} ps-4 flex-fill">
  {{slide.text|markdown}}
  </div>

  <footer class="mt-4 pt-2 pb-2 ps-4 pe-4 border-top border-3 border-danger w-100 d-flex justify-content-between">
    {% if loop.index < slides|length - 1 %}
    <a class="btn btn-light position-absolute end-0 bottom-0 slide-nav" href="#slide{{loop.index + 1}}"><i class="bi-arrow-down"></i></a>
    {% endif %}
    <div>{{loop.index}}/{{slides|length}} {{title}}</div>
    <div>{{author}} {{date}}</div>
  </footer>
</div>
{% endfor %}

{% endblock %}
